.index-body>.body-left{
    width: 18%;
    float: left;
    height: 100%;
}
.index-body>.body-right{
    width: 82%;
    position: absolute;
    right: 0px;
    height: 100%;
}
.index-body{
    height: 860px;
    overflow: hidden;
    position: relative;
}
.index-footer{
    text-align: center;
}
.index-head{
    line-height: 60px;
    font-size: 30px;
    color: palevioletred;
    padding-left: 55px;
}
.body-left .ztree{
    width: 100%;
    height: 810px;
    overflow: auto;
    padding: 0px;
}
.body-left .ztree *{
    font-size: 15px;
}
[name=article]{
    /* padding: 5px; */
}
#login{
    height: 100%;
    background: url('./common/img/bg2.jpg');
    background-size: 100% 100%;
    position: relative;
    text-align: center;
    overflow: auto;
}
.xxmr,
.mryt{
    display: inline-block;
    font-size: 50px;
    color: palevioletred;
    letter-spacing: 30px;
    margin-top: 250px;
}
#login .animated{
    animation-duration: 1.5s;
}
